@import "variables.scss";

$text-color: #AFAEAE;

.portfolio-list {
    padding: 60px 0;
}

.portfolio-list__body {
    display: table;
}

.portfolios__item:first-child {
    padding-right: 30px;
}

.portfolio {
    width: 50%;
    display: table-cell;
    padding-bottom: 30px;
}

.portfolio__title--small {
    font-size: 26px;
}

.portfolio__text--small {
    font-size: 14px;
    color: $text-color;
    overflow: hidden;
    line-height: 25px;
}

.portfolio__image {
    float: left;
    padding-top: 10px;
    padding-right: 30px;
    width: 100px;
}

.portfolio-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.portfolio__title {
    padding-bottom: 10px;
}

.portfolio__link {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
        color: $hover-link;
    }
}
