$content-width: 1170px;
$content-width-md: 728px;

$display-width-lg: 1024px;
$display-width-md: 768px;
$display-width-sm: 412px;

$primary-color: #637F83;
$secondary-color: #E4551D;
$tertiary-color: #B5C7C9;


$signup-form-color: #597276;


$hover-link: #B13729;
