$content-width: 1170px;
$content-width-lg: 992px;
$content-width-md: 728px;
$content-width-sm: 100%;

$display-width-lg: 1200px;
$display-width-md: 1024px;
$display-width-sm: 768px;
$display-width-xs: 412px;

$primary-color: #637F83;
$secondary-color: #E4551D;
$tertiary-color: #B5C7C9;


$signup-form-color: #597276;


$hover-link: #B13729;
